<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2014 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.nurik.roman.muzei">

    <uses-feature android:name="android.hardware.type.watch"/>

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Used to restart jobs listening for MuzeiProvider changes on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="com.google.android.apps.muzei.FullScreenActivity"
            android:enabled="false"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.google.android.apps.muzei.SourceChangedListenerService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/source" />
            </intent-filter>
        </service>

        <service android:name="com.google.android.apps.muzei.ArtworkChangedListenerService"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/artwork" />
            </intent-filter>
        </service>

        <service android:name="com.google.android.apps.muzei.ArtworkCacheIntentService" />

        <service
            android:name="com.google.android.apps.muzei.complications.ArtworkComplicationProviderService"
            android:label="@string/complication_artwork_label"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>
        <service
            android:name="com.google.android.apps.muzei.complications.ArtworkComplicationJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:name="com.google.android.apps.muzei.complications.ArtworkComplicationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.apps.muzei.MuzeiWatchFace"
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_circular" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service android:name="com.google.android.apps.muzei.ActivateMuzeiIntentService" />
        <activity android:name="android.support.wearable.activity.ConfirmationActivity" />
    </application>
</manifest>
