---
title: Archive
description: An archive of featured photos from Muzei Live Wallpaper for Android.
---
{% extends '_base.html' %}

{% block head %}
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="/frontend/chrome-touch-icon-192x192.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Muzei Archive">
<link rel="apple-touch-icon-precomposed" href="/frontend/apple-touch-icon-precomposed.png">

<link href="/frontend/styles/archive.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/frontend/lib/hammer.min.js"></script>
<script src="/frontend/scripts/archive/archive.js"></script>
{% endblock %}

{% block body %}
<div id="container">

  <div class="main-strip header">
    <img src="/frontend/images/logo.svg" alt="Muzei" class="logo-text">
    <span>archive</span>
    <img src="/frontend/images/icon_flat.svg" class="logo-icon">
  </div>
  <div class="month-carousel-container">
    <div class="month-carousel"></div>
  </div>
</div>
{% endblock %}
