{% extends '_base.html' %}

{% block head %}
<link href="/frontend/styles/landing.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/frontend/lib/modernizr.custom.14469.js"></script>
<script src="/frontend/scripts/landing.js"></script>
{% endblock %}

{% block body %}
<div id="container">
  <div id="logo"></div>
  <div id="text">
    <p>
      A living museum for your Android home screen.
    </p>
  </div>

  <a id="playlink" href="http://get.muzei.co">&nbsp;</a>

  <div id="device-frame">
    <div id="device-screen">
      <div id="layer-wall-blurred" class="whenartdetailclosed fullscreenlayer"></div>
      <div id="layer-wall" class="whenartdetailopen fullscreenlayer"></div>
      <div id="layer-home" class="whenartdetailclosed fullscreenlayer"></div>
      <div id="layer-artdetail-topscrim" class="whenartdetailopen"></div>
      <div id="layer-artdetail" class="whenartdetailopen">
        <div class="overflow"></div>
        <div class="title"></div>
        <div class="byline"></div>
      </div>
      <div id="layer-sysui" class="fullscreenlayer"></div>
      <svg id="layer-openindicator-wave1" viewbox="0 0 100 100" width="100" height="100" class="whenartdetailclosed openindicatorwave">
        <circle cx="50" cy="50" r="45" fill="transparent" stroke="rgba(255,255,255,1)">
      </svg>
      <svg id="layer-openindicator-wave2" viewbox="0 0 100 100" width="100" height="100" class="whenartdetailclosed openindicatorwave">
        <circle cx="50" cy="50" r="45" fill="transparent" stroke="rgba(255,255,255,1)">
      </svg>
      <div id="layer-muzei-icon" class="whenartdetailclosed"></div>
      <svg id="layer-muzei-icon-active-state" viewbox="0 0 100 100" width="100" height="100" class="whenartdetailclosed">
        <circle cx="50" cy="50" r="50" fill="rgba(255,255,255,0.5)">
      </svg>
      <svg>
        <filter id="blur-filter"><feGaussianBlur stdDeviation="20"></filter>
      </svg>
    </div>
    <div id="opentarget" class="whenartdetailclosed"></div>
  </div>
</div>
{% endblock %}
