---
title: Today
webAppTitle: Today on Muzei
shareUrl: /today
description: Today's featured photo from Muzei Live Wallpaper for Android.
---
{% extends '_base.html' %}

{% block head %}
<link href="/frontend/styles/today.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/frontend/scripts/today.js"></script>
{% endblock %}

{% block body %}
{% include '_loading-spinner.html' %}
<div class="artwork-container">
  <a class="artwork-link" target="_blank">
    <div class="artwork"></div>
    <div class="meta">
      <div class="attribution"></div>
      <div class="title"></div>
      <div class="byline"></div>
    </div>
  </a>
</div>
{% endblock %}
